header{
    background-color: rgb(97, 97, 125);
}
.espacioMostrarActual{
    width: 300px;
    height: 200px;
    background-color: rgb(184, 176, 176);
    border-radius: 25px;
    align-items: center;

}
.espacioMostrarActual li{
    font-size: large;
}